body {
	background-color:#fffdf2;
}
h1 {
	color:  #3d1703  ;
	margin-bottom: -5px;
}
p {
	margin-bottom: -10px;
}
.ui {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row {
	display: flex;
}
.cell {
	border: none;
	width: 80px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	text-align: center;
	cursor: pointer;
}
.cell:active {
	outline: none;
}
/* 3*3 Grid */
#b1 {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
#b2 {
	border-bottom: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
#b3 {
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
#b4 {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-right: 2px solid black;
}
#b5 {
	border: 2px solid black;
}
#b6 {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	border-left: 2px solid black;
}
#b7 {
	border-top: 2px solid black;
	border-right: 2px solid black;
}
#b8 {
	border-top: 2px solid black;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
#b9 {
	border-top: 2px solid black;
	border-left: 2px solid black;
}
/* Reset Button */
#but {
	box-sizing: border-box;
	width: 95px;
	height: 40px;
	border: 2px solid #5c120e;
	margin-left: auto;
	border-radius: 20px;
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	background-color: whitesmoke;
	color:#5c120e;
	font-size: 20px;
	cursor: pointer;
	box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
}
/* Player turn space */
#print {
	font-family: Verdana,
		Geneva, Tahoma, sans-serif;
	color: #5c120e;
	font-size: 20px;
	font-weight:bold;
}
/* Main Container */
#main {
	text-align: center;
}
/* Game Instruction Text */
#ins {
	font-family: Verdana, Geneva,
		Tahoma, sans-serif;
	color: #5c120e;
}
